{% extends "index.html" %}

{% block content %}
<h1>{{ terms | length }}</h1>
<article>
  <ul>
  {% for tag in terms %}
  <li>
    <a href="{{ tag.permalink }}">
      #{{ tag.name }}
      <small>
        ({{ tag.pages | length }})
      </small>
    </a>
  </li>
  {% endfor %}
  </ul>
</article>
{% endblock content %}
