html {
  background: #e6e6e6;
  color: #3e3e3e;
}

body {
  max-width: 82ch;
  margin: auto;
  padding: 1em;
  font: .9rem/1.7 sans-serif
}

article {
  padding: 2ch;
  background-color: #f2f2f2;
  text-align: justify;;
}

/* header and footer areas */
nav, footer {
    margin: .5ch 0;
    padding: .5ch;
    background: #d0d0d0;
    text-align: center;
}

nav a { padding: 1ch; }

/* code */
pre {
  background: #e6e6e6;
  box-shadow: 5px 5px 5px #eee;
  padding: 2ch;
  font: .8rem/1.6 monospace;
  overflow-x: auto;
}

code {
  background: #e6e6e6;
  margin: .2ch;
  padding: .5ch;
}

/* meta */
.meta {
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid #dbdbdb;
  font-size: .85rem;
}

time {
    padding-right: 1ch;
    font-style: italic;
}

.tags {
  margin-bottom: .5rem;
  padding: 0 1ch .5rem;
  font-size: .9rem;
}

/* typography */
h1 {
  font-size: 2rem;
  text-align: center;  
}

h2, h3, h4, h5, h6 { border-bottom: 1px solid #dbdbdb; }

/* misc elements */
a {
  text-decoration: none;
  color: #007a7c;
}

a:hover {
  color: #532f61;
  text-decoration: underline;
}

img {
  display: block;
  margin: auto;
  max-width: 90%;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

input[type=text] {
  display: block;
  width: 34ch;
  margin: 0 auto;
  padding: 1ch;
  border: 1px solid #dbdbdb;
  text-align: center;
}

input[type=text]:focus { width: 100%; }

/* media queries */
@media (min-width: 52em) {
  .meta {
    margin: .5rem 10%;
    width: 80%;
  }
  #song { float: right;}
}

@media (max-width: 52em) {
}
