{% extends "index.html" %}

{% block title %}{{config.title}} - {{page.title}}{% endblock title %}

{% block content %}
<article>
<h1>{{ page.title }}</h1>

<div class="meta">
{% if page.date %}
{{ page.date | date(format="%d/%m/%Y") }}
{% endif %}
{% if page.taxonomies.tags %}
{% for tag in page.taxonomies.tags %}
<a class="tags" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">
#{{ tag }}
</a>
{% endfor %}
{% endif %}
{% if page.extra.song %}
<div id="song">
{{ page.extra.song | markdown(inline=true) | safe }}
</div>
{% endif %}
</div>
{{ page.content | safe }}
</article>
{% endblock content %}
