{% extends "index.html" %}

{% block content %}
<h1>Archives du blog</h1>

<article>

<input type="text" id="archivefilter" onkeyup="FilterArchive()" placeholder="?" autofocus>

{{ section.content }}

{% for year, posts in section.pages | group_by(attribute="year") %}
<h2>{{ year }}</h2>
<ul>
{% for post in posts %}
  <li>
    <time>{{ post.date | date(format="%d/%m") }}</time>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
{% endfor %}
</article>
{% endblock content %} 

{% block scripts %}
<script src="{{ get_url(path="archives.js") }}"></script>
{% endblock scripts %}

